@model StaticResource

@{
    Layout = "~/Views/StaticResource/Layout.cshtml";
}

<div>

    <div class="big-block">
        <div>
            <a href="@Url.Action("UserDownloadStatistics")">Statistics by users</a>
        </div>
        <div>
            <a href="@Url.Action("DownloadCountStatistics")">Statistics by count of downloads</a>
        </div>
    </div>

    <div class="big-block">
        @using (Html.BeginForm("Download", "StaticResource", FormMethod.Post))
        {
            <div class="edit-block">
                <div>@Html.LabelFor(m => m.Reference)</div>
                <div>@Html.EditorFor(m => m.Reference)</div>
                <div><input type="submit" value="Download" /></div>
            </div>
            <div>
                @Html.ValidationSummary()
            </div>
        }
    </div>

</div>